/* Estilos para botonera de idiomas */

.es, .en {
  display: none;
}

.es:lang(es) {
  display: block;
  background-color: lightseagreen;
  width: 150px;
  margin-left: 40px;
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #000;
}

.en:lang(en) {
  display: block;
  background-color: lightgoldenrodyellow;
  width: 150px;
  margin-left: 40px;
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #000;
}

.idioma {
  margin: 120px 300px 120px auto;
  width: 320px;
}

.botonera {
  margin-left: 150px;
}

.button {
  background-color: #ff5c61;
  /* Green */
  border: none;
  border-radius: 50px;
  color: white;
  padding: 3px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin-top: 13px;
  margin-left: 50px;
  -webkit-transition-duration: 0.5s;
  /* Safari */
  transition-duration: 0.5s;
  cursor: pointer;
}

.button1 {
  background-color: white;
  color: black;
  border: 2px solid #ff5c61;
}

.button1:hover {
  background-color: #ff5c61;
  color: white;
}