		/*   Small Plugins    */
		body{
			overflow-x: hidden;

		}
		html{
			scroll-behavior: smooth;
		}
		.animated{
			animation-duration: 1.3s;
		}
		h1,h2,h3,a,p,*,button,input{
			font-family: 'Rubik', sans-serif;
		}
		p{
			color: #555;
		}
		a{
			color: black;
		}
		img{
			display: block;
			margin: auto;
			max-width: 100%;
		}
		.logo{
			max-width: 250px;
		}
		.icon_nav{
			height: 35px;
			-webkit-transition:all 0.3s ease-out;
			-moz-transition:all 0.3s ease-out;
			-ms-transition:all 0.3s ease-out;
			-o-transition:all 0.3s ease-out;
			transition:all 0.3s ease-out;
		}
		.icon_nav:hover {
			-webkit-transform:scale(1.3);
			-moz-transform:scale(1.3);
			-ms-transform:scale(1.3);
			-o-transform:scale(1.3);
			transform:scale(1.3);
		}
		.header{
			margin-top: 90px;
			position: relative;
			padding: 0px;
			overflow: hidden;
		}
		.header>.slider1>.row{
			margin: 0px;
		}
		.slider1{
			background: linear-gradient(135deg, #ff5c61 0%,#ff9865 100%);
		}
		.slider2{
			background: linear-gradient(-90deg, #f2f2f2 0%,#b8b9b8 100%); 
		}
		.slider3{
			background: linear-gradient(90deg, #0edba1 0%,#81ecce 100%);   
		}
		.mask_banner1{
			position: absolute;
			bottom: 0;
			right: 0;
			z-index: 0;
			height: 100%;
		}
		.mask_banner2{
			position: absolute;
			top: 0;
			left: 0;
			z-index: 0;
			height: 100%;
		}
		h1{
			text-transform: uppercase;
		}
		.text_banner{
			padding: 100px 50px;
		}
		.text_banner>*{
			color: white;
		}
		.slider2>div>div>.text_banner>*{
			color: #ff5c61!important

		}
		.title{
			background: #000;
			color: white;
			border-top: 25px solid #f5f5f5;
			text-align: center;
			padding: 15px 0px;
			text-transform: uppercase;
			font-weight: 300;
			letter-spacing: 5px;
		}
		.no_margin{
			padding: 0px;
		}
		.no_margin>.row{
			margin: 0px;
		}
		.pad_20{
			padding: 60px 0px;
		}
		.pad_15{
			padding: 0% 14%;
		}
		.icon_box{
			height: 150px;
			width: 150px;
			border-radius:47px;
			display: block;
			margin: auto;
			border:3px solid lightgrey;
			background: #fff;
			transition: all .5s;
			transition-timing-function: ease;
		}
		.icon_box>svg{
			display: block;
		    margin: auto;
		    margin-top: 44px;
		    width: 50px;
		    height: 50px;
		    fill: #0edba1;
		    transition: all .5s;
		    transition-timing-function: ease;
		}
		.icon_box_container:hover>.icon_box{
			transform: scale(1.1,1.1);
			background: #0edba1;
			box-shadow: 0px 10px 20px -15px black;
			border-color: #0edba1;
		}
		.icon_box_container:hover>.icon_box>svg{
			fill:#fff;
		}
		.icon_box_container{
			margin-top: 40px;
		}
		.icon_box_container>h3{
			color: #000;
			text-align: center;
			margin-top: 15px;
			letter-spacing: 3px;
    		text-transform: uppercase;
    		font-size: 18px;
		}
		.icon_box_container>p{
			text-align: left;
		    color: #fff;
		    margin: 0px 30px;
		}
		.values{
			background:linear-gradient(90deg,  rgba(254, 115, 100, .9) 0%,  rgba(255, 136, 100, .9) 100%),url(../images/imagen_valores.jpg);
			padding: 5%;
			background-size: cover;
		}
		#laptop_girl{
			display: block;
			margin: auto;
			transform: translateY(50%);
		}
		.laptop_container{
			height: 100%;
			position: relative;
		}
		.icon_circle{
			width: 80px;
			height: 80px;
			background: #000;
			border-radius: 50%;
			display: block;
			margin: auto;
			transition: all .5s;
			box-shadow: 0px 5px 30px -19px;
		}
		.icon_circle>img{
			width: 35px;
			display: block;
			margin: auto;
			padding-top: 22px;
		}
		.icon_circle_container>p{
			color: black;
			text-align: center;
			text-transform: uppercase;
			letter-spacing: 2px;
			margin-top: 20px;
		}
		.icon_circle_container{
			margin-top: 10%;
		}
		.icon_circle_container:hover>.icon_circle{
			box-shadow: 0px 16px 30px -18px;
    		transform: translateY(-10px);
		}
		.black_bar{
			position: relative;
			padding-bottom: 50px;
		}
		.black_bar:after{
			content: '';
			width: 100%;
			height: 35px;
			background: #000;
			position: absolute;
			bottom: 0;
			left: 0;
			z-index: -1;
		}
		#feet2{
			transform-origin: 77% 88%;
			animation: movefeettwo 1s ease-in-out alternate infinite;
		}
		#feet1{
			transform-origin: 45% 93%;
			animation: movefeetone 1s ease-in-out alternate infinite;
		}
		@keyframes movefeetone{
			0%{
				transform: rotate(6deg);
			}
			100%{
				transform: rotate(-12deg);
			}
		}
		@keyframes movefeettwo{
			0%{
				transform: rotate(-5deg);
			}
			100%{
				transform: rotate(13deg);

			}
		}

		.team_big_container{
			margin-bottom: 80px;
		}
		
		.avatar,.image_person{
		  max-width:100%;
		  display:block;
		  margin:auto;
		  position:absolute;
		  top:0;
		  left:0;
		  width: 200px;
		}

		.team_image>img{
		  transition:all .8s;
		  transition-timing-function:ease;
		  transform-origin:center;
		  backface-visibility: hidden;
		  border: 0px solid #555;
		  border-radius:28%;
		  box-shadow: 0 20px 30px rgba(0,0,0,.1);
		}

		.team_image>.avatar{
		  transform:rotateY(0deg);
		}

		.team_image>.image_person{
		      transform: rotateY(-180deg);
		}

		.team_member:hover .avatar{
		  transform:rotateY(180deg);
		}

		.team_member:hover .image_person{
		  transform:rotateY(0deg);
		}

		.team_image{
		  position:relative;
		  height:200px;
		}

		.team_member{
		  width:200px;
		  display:block;
		  margin:auto;
		  transform-style:preserve-3d;
		  perspective:1000px;
		  margin-top: 80px;
		  text-align: center;
		}

		.team_name{
		    font-weight: bolder;
		    margin-top: 22px;
		    font-size: 20px;
		    margin-bottom: 7px;
		    color: #ff5c61;
		    letter-spacing: 1px;
		}
		.titlenotbar{
			margin-top: 50px;
			text-align: center;
			text-transform: uppercase;
			font-size: 45px;
			font-weight: 300;
			letter-spacing: 5px;
		}
		.star1{
			position: absolute;
			right: 5%;
			bottom: 30%;
			animation: glareit 1.5s ease-in-out alternate infinite;
			animation-delay: 1.2s;
			width: 50px;
		}
		.star2{
			position: absolute;
			left: 15%;
			top: 30%;
			animation: glareit 1.5s ease-in-out alternate infinite;
			animation-delay: .2s;
			width: 45px;
		}
		.star3{
			position: absolute;
			left: 40%;
			top: 20%;
			animation: glareit 1.5s ease-in-out alternate infinite;
			width: 15px;
		}
		.star4{
			position: absolute;
			left: 40%;
			bottom: 34%;
			animation: glareit 1.5s ease-in-out alternate infinite;
			animation-delay: 1s;
			width: 15px;
		}
		.star5{
			position: absolute;
			left: 45%;
			bottom: 45%;
			animation: glareit 1.5s ease-in-out alternate infinite;
			animation-delay: .9s;
			width: 15px;
		}
		.star6{
			position: absolute;
			right: 10%;
			top: 40%;
			animation: glareit 1.5s ease-in-out alternate infinite;
			animation-delay: .6s;
			width: 15px;
		}
		.cash{
			position: absolute;
		    right: 31%;
		    top: 28%;
		    animation: glareit 1.5s ease-in-out alternate infinite;
		    animation-delay: .8s;
		    width: 48px;
		}
		.cashcash{
			right: 17%;
			position: absolute;
			top: 43%;
			animation: glareit 1.5s ease-in-out alternate infinite;
			animation-delay: 1.2s;
			width: 60px;
		}
		.cashcashmoney{
			right: 28%;
		    position: absolute;
		    bottom: 30%;
		    animation: glareit 1.5s ease-in-out alternate infinite;
		    animation-delay: 1.4s;
		    width: 48px;
		}
		@keyframes glareit{
			0%{
				transform: translateY(-30%);
			}
			100%{
				transform: translateY(0%);
			}
		}
		.team_description{
			color: #555;
			text-transform: capitalize;
		}
		.nav-link{
			    margin-left: 40px;
		}
		.slider1,.slider2{
			position: relative;
		}
		.anim-del1{
			transition-delay: .2s;
		}
		.slider_cont{
			display: none;
		}
		.active_slider{
			display: block;
		}
		.banner_pic{
			width: 500px;
			margin-top: 50px;
			margin-bottom: 50px;

		}
		.mt_100{
			margin-top: 100px;
			margin-bottom: 100px;
		}
		.card_services{
			border-radius: 7px;
			background: linear-gradient(180deg,#fefefe 0%,#f1f1f1 100%);     
			border:1px solid #f1f1f1;
			padding: 7%;
			margin-top: 60px;
			transition: all .5s;
			transition-timing-function: ease;
		}
		.card_services:hover{
			transform: translateY(-5px);
    		box-shadow: 0px 15px 30px -25px;
		}
		.card_services>h3{
			color: #555;
		    font-size: 15px;
    		margin-top: 15px;
		    text-transform: uppercase;
		    text-align: center;
		}
		.title_services_first{
			background: #ff7161;
		}
		.container_icon_services{
			height: 120px;
		    width: 120px;
		    border-radius: 33%;
		    display: block;
		    margin: auto;
		    background: #ff7161;
		    border: 1px solid transparent;
		    transition: all .5s;
		    transition-timing-function: ease;
		}
		.container_icon_services>svg{
			display: block;
		    margin: auto;
		   	margin-top: 33px;
		    width: 50px;
		    height: 50px;
		}
		.btn-green{
			background: #0edba1;
			color: white;
			padding: 5px 15px;
			display: block;
			transition: all .5s;
		    transition-timing-function: ease;
		}
		.btn-green:hover{
			box-shadow: 0px 10px 12px -7px #0edba1;
    		transform: translateY(-2px);
    		color: white;
		}
		.buy{
			margin-top: 15px;
		}
		.btn-rounded{
			border-radius: 15px;
		}
		.blog_item{
			margin-top: 50px;
		}
		.blog_item>img{
			transform: translateY(15px);
			border-radius: 5px;
			max-width: 200px;
		}
		.box_text{
			padding: 6%;
    		background: #ececec;
		    text-align: center;

		}
		.box_text>h4{
			text-transform: uppercase;
		    margin-top: 15px;
		}
		.box_text>p{
			font-size: 15px;
		}
		.btn-blog{
			transform: translateY(-15px);
			margin: 0px 15px;
		}
		.btn-blog:hover{
			transform: translateY(-20px);
		}
		.slick-slide>div>div>img, .slick-slide>div>div>a>img{
			transform:scale(.9);
			filter: grayscale(30%);
			transition: all .4s;
			border:2px solid white;
			box-shadow: 0px 10px 30px -25px black;
			opacity: .5;
		}
		.slick-center>div>div>img, .slick-center>div>div>a>img{
			transform: scale(1.1);
			box-shadow: 0px 20px 30px -20px black;
			filter: grayscale(0%);
			opacity: 1;
		}
		.image_slider{
		    padding-bottom: 90px;
		}
		.slick-prev{
			left: 20px;
		}
		.slick-next{
			right: 20px;
		}
		.slick-prev,.slick-next{
			width: 40px;
			height: 40px;
			z-index: 99999999;
			background: white!important;
    		border-radius: 50%;
		}
		.slick-prev:before, .slick-next:before{
			font-size: 40px;
			color: black;
			opacity: .9;
			line-height: 1.1;
		}
		.slick-list{
			overflow: visible;
		}
		.catto{
			background: #ff7161;
			padding-top: 100px
		}
		.card_services{
			margin-bottom: 75px;
		}
		.black_background{
			background: black;
			color: white;
		}
		.make_it_bigger{
			position: relative;
    		margin-top: 50px;
    		margin-left: 5%;
		}
		.lupa{
			position: absolute;
		    top: 10%;
		    bottom: 0;
		    right: -20%;
		    transform: scale(1.4);
		}
		.title_findus{
				margin-top: 25px;
			    color: white;
			    text-align: center;
			    padding: 15px 0px;
			    text-transform: uppercase;
			    font-weight: 300;
			    letter-spacing: 5px;
		}
		.where{
			text-align: center;
		}
		.country{
			padding: 5px 10px;
		    background: #fff;
		    border-radius: 30px;
		    color: #ff7160;
		    font-weight: 900;
		    letter-spacing: 2px;
		    transform: translateY(15px);
		    transition: all .5s;
		    cursor: pointer;
		}
		.country.active, .country:hover{
			background: #ff7160;
    		color: #fff;
		}
		.country>h3{
			margin:0px;
			text-transform: uppercase;
			font-size: 23px;
		}
		.direction{
			    height: 214px;
		    background: rgba(255,255,255,.15);

		}
		.direction>p{
			padding: 45px 35px;
		    font-size: 14px;
		    text-align: left;
		    border-radius: 5px;
		    color: white;
		}
		.phone_number>a:before{
			content: '';
		    width: 30px;
		    height: 30px;
		    background: url(../images/phone.svg), white;
		    background-position: center;
		    border: 1px solid white;
		    display: inline-block;
		    background-repeat: no-repeat;
		    border-radius: 50%;
		    margin: 0px;
		    margin-bottom: -7px;
		    transform: scale(1.2);
		    transition: all .4s;
		}
		.phone_number{
		    transform: translateY(-20px);

		}
		.phone_number>a{
			padding-right: 25px;
		    display: inline-block;
		    background-color: black;
		    border-radius: 30px;
		    border: 2px solid white;
		}
		.phone_number>a>span{
			transform: translateY(-3px) translateX(5px);
    		display: inline-block;
    		color:white;
    		text-decoration: none;
    		padding-left: 15px;
		}
		.phone_number>a:hover:before{
			transform: scale(1.3);
		}
		.map{
			max-width:300px;
			box-shadow: 0px 1px 30px -25px black;
    		border-radius: 5px;
		}
		.title_contact{
			margin-top: 100px;
		}
		.form-control{
			background: #f5f5f5;
		    border-radius: 30px;
		    border: 0px;
		    padding: 15px 30px;
		    height: auto;
		}
		[type=submit]{
			display: block;
		    margin: auto;
		    border-radius: 30px;
		    padding: 15px 30px;
		    background: linear-gradient(135deg, #ff5c61 0%,#ff9865 100%);
		    border: none;
		    text-transform: uppercase;
		    font-weight: bold;
		    letter-spacing: 2px;
		}
		label{
			color: #ff7160;
		    font-weight: 500;
		    margin-bottom: .2em;
		    margin-left: .9em;
		}
		.pad_left{
			padding: 5vh 25vw;
		}
		textarea.form-control{
			height: 250px;
			resize: none; 
		}
		.small_pad{
			padding-right:  5%;
		}
		.footer{
			background: #707070;
			padding: 50px 0px;
		}
		.circle_media{
			height: 50px;
		    width: 50px;
		    background: white;
		    padding: 13px;
		    border-radius: 50%;
		    box-shadow: 0px 5px 30px -20px;
		    margin-left: 25px;
		    margin-top: 25px;
		    display: inline-block;
		}
		.circle_media>svg{
			height: 25px;
			width: 25px;
    		fill: #626262;
		}
		.pad_5{
			padding: 0% 5%;
		}
		@media (max-width: 992px){
			.small_pad{
			padding: 0%  3%;
			}
			#laptop_girl{
				transform: translateY(0%);
			}
			.cash{
				top: 10%;
				width: 25px;
				right: 42%;
			}
			.cashcash{
				top: 20%;
				width: 30px;
				right: 45%;
			}
			.cashcashmoney{
				top: 25%;
				width: 25px;
				right: 40%;
				bottom: unset;
			}
			.star3{
				left: 20%;
			}
			.star4{
				left: 15%;
			}
			.star5{
				left: 70%;
			}
			.mask_banner2,.mask_banner1{
				height: auto;
			}
			.make_it_bigger{
				transform: translateY(-30px);
			}
			.lupa{
				right: 0%;
    			top: 21%;
			}
			.pad_left{
				padding: 5vh 10vw;
			}
			/* Estilo Imagen hover */
			.grow {
				-webkit-transition:all 0.3s ease-out;
				-moz-transition:all 0.3s ease-out;
				-ms-transition:all 0.3s ease-out;
				-o-transition:all 0.3s ease-out;
				transition:all 0.3s ease-out;
			}
	
			.grow:hover {
				-webkit-transform:scale(1.3);
				-moz-transform:scale(1.3);
				-ms-transform:scale(1.3);
				-o-transform:scale(1.3);
				transform:scale(1.3);
			}

		}